.container {
	max-width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#sendMail {
	margin: 20px 0 auto;
}

.result {
	margin: 0 auto;
}
.reset {
	margin-top:10px;
}